[submodule "lib/c-blosc2"]
	path = lib/c-blosc2
	url = https://github.com/Blosc/c-blosc2
[submodule "lib/vesuvius"]
	path = lib/vesuvius
	url = https://github.com/ScrollPrize/vesuvius.git
[submodule "lib/vesuvius-c"]
	path = lib/vesuvius-c
	url = https://github.com/ScrollPrize/vesuvius-c.git
